@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");
@font-face {
  font-family: "Roboto";
  src: local("Roboto");
  src: url("../fonts/roboto-v49-latin-regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("ttf");
  font-style: normal;
  font-weight: 400;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
  height: 100%;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  outline: 0px solid;
  box-sizing: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  min-height: 100%;
  margin: 0;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 0 1.5rem;
}

.auth {
  display: grid;
  grid-template-columns: repeat(2, minmax(36rem, 36rem));
  align-items: stretch;
  gap: 1rem;
  align-content: center;
  text-align: center;
}
@media (max-width: 768px) {
  .auth {
    grid-template-columns: 1fr;
  }
}
.auth.col-1 {
  grid-template-columns: 1fr;
}
.auth h2 {
  padding: 2rem 0;
  letter-spacing: 0.4rem;
  line-height: 1.2;
}
.auth h6 {
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 1rem;
}
.auth__detalles {
  min-height: 50rem;
  max-width: 36rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/control.de.accesos.png");
  background-repeat: no-repeat;
  background-size: 30rem;
  object-fit: cover;
  background-position: bottom left;
  margin-bottom: 3rem;
}
@media (max-width: 768px) {
  .auth__detalles {
    height: auto;
    background-image: none;
    min-height: auto;
    justify-self: center;
  }
}
.auth__campos {
  align-self: center;
  padding: 1rem 1.5rem;
  max-width: 36rem;
  background-color: #e0f7fa;
  box-shadow: 6px 8px 4px 0px rgba(0, 0, 0, 0.4);
}

.boton {
  width: 100%;
  margin: 0;
  margin-top: 1.6rem;
  background-color: #607d8b;
  color: #fefefe;
  font-weight: 800;
  text-align: center;
  border-radius: 5px;
  padding: 1rem 3rem;
  border: none;
  text-decoration: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.boton:hover {
  transform: scale(1.05);
  filter: brightness(80%);
}

.acciones {
  margin: 2rem 0;
}
.acciones a {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  color: #607d8b;
  margin-bottom: 2rem;
  transition: transform 0.3s ease;
}
.acciones a:hover {
  transform: scale(1.2);
}

.sidebar {
  height: 8rem;
  width: 100%;
  padding: 2rem 2rem 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #b2dfdb;
  background: linear-gradient(140deg, rgb(178, 223, 219) 0%, rgb(87, 199, 133) 60%, rgb(237, 221, 83) 100%);
}
.sidebar .logo {
  align-content: center;
  transition: color 200ms cubic-bezier(0.55, 0, 0.1, 1);
  color: #30acff;
  font-size: 3rem;
}
.sidebar .menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.sidebar .menu li {
  align-content: center;
  height: 100%;
}
.sidebar .menu li a {
  height: 100%;
}
.sidebar .menu li a.link-bold {
  font-weight: 700;
}
.sidebar .menu li:hover {
  transform: scale(1.1);
}
.sidebar .menu-session {
  display: flex;
  flex-direction: column;
  width: 6rem;
  gap: 0.8rem;
  align-items: center;
}
.sidebar .menu-session span {
  font-size: 12px;
}

.content-table {
  padding: 8rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.content-table table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem auto;
  background-color: #ffffff;
  overflow: hidden;
  font-size: 14px;
}
.content-table th,
.content-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #d1c3e9;
}
.content-table th {
  background-color: #374d7c;
  color: #ffffff;
  font-weight: bold;
}
.content-table caption {
  caption-side: top;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}
.content-table tr:nth-of-type(2n) {
  background-color: hsl(0, 0%, 95%);
}
.content-table tfoot td {
  text-align: center;
  background-color: #ffffff;
  font-weight: bold;
}
@media (max-width: 768px) {
  .content-table table,
  .content-table thead,
  .content-table tbody,
  .content-table tfoot,
  .content-table tr,
  .content-table th,
  .content-table td {
    display: block;
    width: 100%;
  }
  .content-table caption {
    display: table-header-group;
  }
  .content-table thead {
    display: none;
  }
  .content-table tr {
    margin-bottom: 1rem;
    border: 1px solid #d1c3e9;
    padding: 0.5rem;
    background: #ffffff;
  }
  .content-table td {
    border: none;
    padding: 0.5rem;
    position: relative;
  }
  .content-table td::before {
    content: attr(data-label) "  ";
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: #607d8b;
    text-transform: lowercase;
    font-size: 12px;
  }
}

.td-empty {
  font-size: 2.5rem;
}

.campo-input {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}
.campo-input span {
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.campo-input span > i {
  color: #817777;
}

input {
  flex: 1;
  padding: 5px;
  box-sizing: border-box;
  outline: none;
}
input::placeholder {
  opacity: 0.5;
  right: 2rem;
}
input[type=text], input[type=email], input[type=password] {
  border: 1px solid #b2dfdb;
}
input[type=text]:hover, input[type=email]:hover, input[type=password]:hover {
  box-shadow: 0 0 2px 1px #607d8b;
}
input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
  border-color: #b2dfdb;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.4);
}

fieldset {
  border: none;
  text-align: initial;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.campo-checkbox {
  align-items: flex-start;
  padding: 0.5rem 0;
}
.campo-checkbox span {
  font-size: 12px;
  padding-left: 0.5rem;
  justify-content: flex-start;
}

.alerta-js {
  width: 100%;
  height: 1rem;
  padding-bottom: 2.6rem;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
.alerta-js.error {
  color: #f75555;
}
.alerta-js.exito {
  color: #92db92;
}

.alertas-contenedor {
  position: fixed;
  top: 10px;
  right: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1000;
}

.alerta {
  font-size: 9.6px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 40rem;
  letter-spacing: 0.1rem;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: translateX(30px);
  animation: fadeIn 0.4s ease-out;
}
.alerta.error {
  color: #ffffff;
  background-color: #f75555;
}
.alerta.exito {
  color: #000000;
  background-color: #92db92;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.alerta__detalles {
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.alerta__detalles--exito {
  color: #92db92;
}
.alerta__detalles--error {
  color: #f75555;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}